body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:0;
    margin:0; /*10vh, 30vw, 10vh, 30vw;*/
    padding:0;
    background-color: #fc9;
}

div#welcome {
    text-align: center;
    color:red;
    font-size: 10vw;
    text-shadow: 0.25vw 0.25vw 0.5vw #000;
}

div#navigation {
    text-align: center;
}

nav {
    margin: auto;
    width: fit-content;
}

a.buttonLink {
    margin: 5vw;
    font-size: 3vw;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:#f00;
}

a:hover {
    color:#f60;
}

a:active {
    color:#960;
}