/* FONT - ALL PAGES */

@font-face {
    font-family: tellural;
    src:url('Fonts/Tellural.ttf');
}

/* TITLES, NAV, AND LOGO - ALL PAGES*/

body {
    font-family: tellural;
    border:0;
    margin:10vh 0 0 0;
    padding:0;
    background-color:#000;
    background-image: url('Images/bg.jpg');
    background-position: right;
    background-attachment: fixed;
}

div#welcome {
    margin: 0 30vw 0 30vw;
    text-align: center;
    color:#fff;
    font-size: 5vw;
    text-shadow: 0.15vw 0.15vw 0.3vw #000;
}

div#navigation {
    margin:0;
    text-align: center;
}

nav {
    /*background-color:#f60;*/
    margin:0;
    padding: 2.5vh 0 1vh 0;
    width: fit-content;
    position: fixed;
    top:0;
    left:0;
}

img.logo {
    width:30vh;
    position: fixed;
    left:0;
    bottom:0;
}

img.upload {
	width:30vh;
    position: fixed;
    right:0;
    bottom:0;
}

/* NAV BAR - ALL PAGES */

a {
    text-decoration: none;
}

a.buttonLink {
    margin: 4vw;
    padding: 0.5vw;
    font-size: 2.5vw;
}

a.buttonLink:link, a.buttonLink:visited {
    color:#fff;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

a.buttonLink:hover {
    color:#ff6;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

a.buttonLink:active {
    color:#ff6;
    text-shadow: 0.07vw 0.07vw 0.15vw #f00;
}

/* INPUT - SEARCH PAGE */

div.searchOptions {
    margin: 5vw 0 0 0;
}

div.options {
    font-family: tellural;
    color:#fff;
    margin: 2vw;
    padding: 0.5vw;
    font-size: 2vw;
}

div.uploadSection {
	text-align: center;
}

.logo {
    margin: 20px;
}

span {
    display: inline;
    text-align: center;
    margin: 17.5vw;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

div.options input {
    margin: 1vw;
}

input.button, input.buttonUpload {
    font-family: tellural;
    color: #fff;
    width: fit-content;
    /*margin: 0 0 10vh 45vw;*/
    padding: 2vw;
    font-size: 2vw;
    border-radius: 1vw;
    background-color: #000;
    border:0.2vw solid #000;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
    cursor: pointer;
}

input.button {
    margin: 0 0 10vh 45vw;
}

input.buttonUpload {
    margin: auto;
}

input.button:hover, input.buttonUpload:hover {
    background-color: #333;
    border:0.2vw solid #000;
}

input.button:active, input.buttonUpload:active {
    background-color: #666;
    border:0.2vw solid #000;
}

/* ABOUT INFO - ABOUT PAGE */

p.aboutinfo {
    margin: 5vw 20vw 10vw 20vw;
    padding: 0.5vw;
    font-size: 2vw;
    color:#fff;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

/* SUBMIT BUTTON - SUBMIT PAGE */

div.uploadSection {
    margin: auto;
}