/* FONT - ALL PAGES */

@font-face {
    font-family: tellural;
    src:url('Fonts/Tellural.ttf');
}

/* TITLES, NAV, AND LOGO - ALL PAGES*/

body {
    font-family: tellural, 'Trebuchet MS', Arial;
    border:0;
    margin:10vh 0 0 0;
    padding:0;
    background-color:#000;
    background-image: url('Images/bg.jpg');
    background-position: right;
    background-attachment: fixed;
}

div#welcome {
    margin: 0 30vw 0 30vw;
    text-align: center;
    color:#fff;
    font-size: 5vw;
    text-shadow: 0.15vw 0.15vw 0.3vw #000;
}

div#navigation {
    margin:0;
    border:0;
    padding:0;
    text-align: center;
}

nav {
    /*background-color:#06c9;*/
    background:linear-gradient(#06fc,#0000);
    width:100%;
    margin:0;
    border:0;
    padding: 2.5vh 0 1vh 0;
    position: fixed;
    top:0;
    left:0;
    transition: 1s;
}

nav:hover {
    background:linear-gradient(#09fc,#0000);
    transition: 1s;
}

img.logo {
    width:15vw;
    position: fixed;
    left:0;
    bottom:0;
    margin: 2vw;
    transition: 1s;
}

img.logo:hover {
    filter: invert(100%);
    transition: 1s;
}

img.upload {
	width:30vh;
    position: fixed;
    right:0;
    bottom:0;
}

section {
    margin:0;
    border:0;
    padding:0;
}

/* NAV BAR - ALL PAGES */

a {
    text-decoration: none;
}

a.buttonLink {
    margin: 4vw;
    padding: 0.5vw;
    font-size: 2.5vw;
}

a.buttonLink:link, a.buttonLink:visited {
    color:#fff;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
    transition: 1s;
}

a.buttonLink:hover {
    color:#cc6;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
    transition: 1s;
}

a.buttonLink:active {
    color:#cc6;
    text-shadow: 0.07vw 0.07vw 0.15vw #f00;
    transition: 1s;
}

/* INPUT - SEARCH PAGE AND UPLOAD PAGE */

div.searchOptions {
    margin: 5vw 0 0 0;
}

div.options {
    font-family: tellural, 'Trebuchet MS', Arial;
    color:#fff;
    margin: 2vw;
    padding: 0.5vw;
    font-size: 2vw;
}

div.uploadSection {
	text-align: center;
}

span {
    display: inline;
    text-align: center;
    margin: 17.5vw;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

div.options input {
    margin: 1vw;
}

input.button, input.buttonUpload {
    font-family: tellural, 'Trebuchet MS', Arial;
    color: #fff;
    width: fit-content;
    /*margin: 0 0 10vh 45vw;*/
    padding: 2vw;
    font-size: 2vw;
    border-radius: 1vw;
    background-color: #000;
    border:0.2vw solid #000;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
    cursor: pointer;
    transition: 1s;
}

input.button {
    margin: 0 0 10vh 45vw;
}

input.buttonUpload {
    margin: 0 auto 2vh 0;
    transition: 1s;
}

input.button:hover, input.buttonUpload:hover {
    background-color: #333;
    border:0.2vw solid #000;
    transition: 1s;
}

input.button:active, input.buttonUpload:active {
    background-color: #666;
    border:0.2vw solid #000;
    transition: 1s;
}

/* SUBMIT FORM - UPLOAD PAGE */

input.textField {
    font-family: tellural, 'Trebuchet MS', Arial;
    font-size:2vw;
    color:#fff;
    background-color: #000;
    border:0.2vw solid #fff;
    border-radius: 1vw;
    margin:1vw;
    padding: 0.5vw;
}

input.textField:focus {
    font-family: tellural, 'Trebuchet MS', Arial;
    font-size:2vw;
    color:#fff;
    background-color: #333;
    border:0.2vw solid #fff;
    border-radius: 1vw;
    margin:1vw;
    padding: 0.5vw;
}

/* ABOUT INFO - ABOUT PAGE */

p.aboutinfo {
    margin: 5vw 20vw 5vw 20vw;
    padding: 0.5vw;
    font-size: 2vw;
    color:#fff;
    text-shadow: 0.07vw 0.07vw 0.15vw #000;
}

img.signature {
    width: 30vw;
    position: absolute;
    left: 60vw;
    top: 50vw;
    cursor: default;
}

img.signatureSecret {
	width: 30vw;
    position: absolute;
    left: 60vw;
    top: 20vw;
    cursor: default;
}

/* SUBMIT BUTTON - SUBMIT PAGE */

div.uploadSection {
    margin: auto;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 1vw;
    transition: 1s;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vw #666; 
    border-radius: 0vw;
    transition: 1s;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10vw;
    box-shadow: inset 0 0 1vw #fff;
    transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
    transition: 1s;
}